/*Reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
/* common */
.clear {
    clear: both;
    /* sửa lỗi float khi dùng float thì o bao trùm thẻ con
    nên dùng đặc tính clear:both xli */
}
.text-white {
    color: white !important ;
    /* có độ ưu tiên nhất khi muốn dùng thì thêm class vào  */
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.col {
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.33333%;
}
.col-half{
    width: 50%;
}
.col-full {
    width: 100%;
}
.text-center{
    text-align: center !important;
}
/* body */
#main{

}
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

}
#nav {
    display:inline-block;
}
#nav .subnav {
    list-style: none;
}

#nav >li
{
    display: inline-block;
}
#nav li {
   
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: white;
   box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
    
}
#nav .nav-arrow-down {
    font-size:14px ;
}
#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}
#header .search-button {
    float: right;
    padding: 0 23px;
    
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-button:hover {
    background-color: tomato;
    cursor: pointer;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%; 
    /* pa top 50% luôn bằng 50 phần trăm của chiều ngang của nó */
    background: url('/assets/css/img/chicago.jpg') top center / cover no-repeat;
}
#slider .text-content{
   
    position: absolute;
    bottom: 47px;
    color: #fff;
     /* left: 50%; 
    transform: translateX(-50%);cách1 */
    text-align: center;
    /* transfom : trục toạ độ để cân giữa hàng chữ */
    /* right: 0;
    left: 0;
    cách 2 để căn giữa */
    /* text-align: center;*/
    width: 100%;

}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}
#slider .discription {
    font-size: 15px;
    margin-top: 25px;
}
#content{ 
    
}
#content .conten-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left:auto ;
    margin-right: auto;

}
#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    /* cho chữ mảnh hơn font weight */
    letter-spacing: 4px;
    /* cho chữ cách nhau  */
 
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* kiểu chữ in nghiêng */
    opacity: 0.6;
    /* độ trong suốt trong khoảng từ 0-1 */
   /* text-align: justify; */
   /* cho chữ căn đều ở hai đầu  như 1 trang báo*/
     
}
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4 ;
}
#content .member-list {
    margin-top: 48px;
}
/* #content .member-item {
    /* float: left; */
    /* width:  calc(100% / 3); cách 2 */
    /* width: 33.33333%; */
    /* tổng 3 ảnh bằng 100% sẽ bằng chiều ngang của thẻ about tẽt */
    /* text-align: center; */
    /* cho chữ ra giữa ảnh */
 
#content .member-name {
    font-size: 15px;
   
}
#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: #000;
    height: 840px;
}


.sticket-list {
    background-color: white;
    margin-top: 40px;
    list-style: none;
}
.sticket-list li {
color: #757575;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}
.sticket-list .sold-out{
    background-color: tomato;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px ;

}

.sticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}
/* places */
.places-list {
    margin-top: 32px;
}

.img-place {
    width: 100%;
    display: block;

}
.img-place:hover {
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
    /* chữ mỏng hơn */

}
.place-time{
    margin-top: 15px;
    color: #757575;
    
}
.place-desc {
margin-top: 15px;
line-height: 1.4;
}
.place-buy-btn {
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;

}
.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}
.contact-content{
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;

}
.contact-info i[class*="ti-"] {
    width: 30px;
    display:inline-block ;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
  
}
.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
    

}
.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
}
.map-section img{
    width: 100%;
}
#footer{


}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    /* cho cách 2 bên mỗi ên 16px khi thu nhỏ lại */
    min-height: 280px;
    position: relative;
    animation: modalFadeIn ease .5s;

}
.modal-header {
    background-color: #089688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    
}
.modal-heading-icon {
    margin-right: 16px;

}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover {
    opacity: 1;
}
.modal-body {
    padding: 16px;
}
.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
   font-size: 15px;
   margin-bottom: 24px;
}
#buy-tickets {
    background-color: #089688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    opacity: 0.8;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 1;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    

}
.modal-footer a{
    color:#2196f3;
}
@keyframes modalFadeIn {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;

    }
}